/* 
	Color
*/

// Color
.c__white { color: $_white; }
.c__black { color: $_black; }

// gray
.c__c1c1c1 { color: $_c1c1c1; }
.c__686868 { color: $_686868; }

// orange
.c__e49320 { color: $_e49320; }

// green
.c__9cc439 { color: $_9cc439; }

// Background
.bgc__white { background-color: $_white; }
.bgc__black { background-color: $_black; }

// gray
.bgc__494949 { background-color: $_494949; }

// orange
.bgc__de801e { background-color: $_de801e; }

// green
.bgc__9cc439 { background-color: $_9cc439; }
