/* 
	Var
*/

// color
$_black : #000;
$_white : #fff;

// grayscale
$_c1c1c1: #c1c1c1;
$_686868: #686868;
$_494949: #494949;
$_d8d8d8: #d8d8d8;

// orange
$_e49320: #e49320;
$_de801e: #de801e;

// green
$_9cc439: #9cc439;


// easing
$_ease1 : cubic-bezier(0.74, 0.01, 0.11, 0.98)
